<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="Businnes, Portfolio, Corporate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Sonic Car Repair Responsive Bootstrap Template</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'elegant_font/style.css' %}" />
    <!--[if lte IE 7]><script src="elegant_font/lte-ie7.js"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider-pro.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
	    <link rel="stylesheet" href="{% static 'elegant_font/style.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

    <link rel="icon" href="{% static 'images/logo.ico' %}">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <script type="text/javascript" src="js/selectivizr.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader  -->
    <div class="preloader">
        <div class="status"></div>
    </div>

    <header>
        <!-- Navigation Menu start-->
        <nav class="navbar main-menu">
            <div class="container">

                <!-- Navbar Toggle -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo -->
                    <a class="navbar-brand" href="index.html"><img class="logo" id="logo" src="{% static 'images/favico.png' %}" alt="logo"></a>

                </div>
                <!-- Navbar Toggle End -->

                <!-- navbar-collapse start-->
                <div id="nav-menu" class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav menu-wrapper">
                        <li class="active">
                            <a href="#slider">ГЛАВНАЯ</a>
                        </li>
                        <li>
                            <a href="#about">О НАС</a>
                        </li>
						 <li>
                            <a href="#services">УСЛУГИ</a>
                        </li>
                        <li>
                            <a href="#portfolio">КАРТИНКИ</a>
                        </li>
                       
                        <li>
                            <a href="#pricing">ЦЕНЫ</a>
                        </li>
                        <li>
                            <a href="#contact">КОНТАКТЫ</a>
                        </li>
                    </ul>
                </div>
                <!-- navbar-collapse end-->

            </div>
        </nav>
        <!-- Navigation Menu end-->
    </header>
    <!-- Header End -->


    <section class="slider-pro slider" id="slider">
        <div class="sp-slides">

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="{% static 'images/slider/automall.png' %}" alt="Slider 1"/>

                <h1 class="sp-layer slider-text-big"
                data-position="center bottom" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Fast Car Repair</span>
                </h1>
 
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide main-slides">
            <div class="img-overlay"></div>
                <img class="sp-image" src="{% static 'images/slider/automall_2.png' %}" alt="Slider 2"/>

                <h1 class="sp-layer slider-text-big"
                data-position="center bottom" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Best Car Service</span>
                </h1>
 
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="{% static 'images/slider/automall_4.png' %}" alt="Slider 3"/>

                <h1 class="sp-layer slider-text-big"
                data-position="center bottom" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Lazer Car Paint</span>
                </h1>
 
            </div>
            <!-- Slides End -->

        </div>
    </section>
    <!-- Main Slider End -->


    <section id="about" class="about-sec section-wrapper description">
        <div class="container">
            <div class="row">
                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">О нас</span></h2>
                   
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">AutoMall — это профессиональный авто-детейлинг с комплексным подходом к уходу за вашим автомобилем. Мы предлагаем высококачественные услуги, чтобы ваш автомобиль всегда выглядел наилучшим образом.

                        Наша команда состоит из опытных специалистов, которые используют только проверенные материалы и передовые технологии. Мы ценим каждого клиента и стремимся предоставлять только лучший сервис.</p>
                </div>
                <!-- Section Header End -->

                <div class="col-md-6 col-sm-6 col-xs-12 custom-sec-img wow fadeInDown">
                    <img src="{% static 'images/about.png' %}" alt="Custom Image">
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 customized-text wow fadeInDown black-ed">
				<strong>Наши услуги включают:</strong>
                    <div class="row"> 
                        <div class="col-md-11">
                            <strong>Автомойка</strong>
                            <p>Деликатная и эффективная мойка кузова и дисков с использованием специальных чистящих средств.</p>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-11">
                            <strong>Химчистка</strong>
                            <p>Глубокая чистка салона с удалением сложных загрязнений и неприятных запахов.</p>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-11">
                            <strong>Шумоизоляция</strong>
                            <p>Установка качественных материалов для снижения шума в салоне, создавая комфорт в любой поездке.</p>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-11">
                            <strong>Полировка</strong>
                            <p>Восстановление блеска и защита лакокрасочного покрытия от повреждений и внешних факторов.</p>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-11">
                            <p>Мы гордимся качеством наших услуг и индивидуальным подходом к каждому автомобилю. Ваш автомобиль в надежных руках с AutoMall.</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section> 
  
    <section id="services" class="section-wrapper">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Как мы работаем?</span></h2>
                   
                    <!-- <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque in minus distinctio dolores ipsam.</p> -->
                </div>
                <!-- Section Header End -->
 
                <div class="our-services">
			 
		
		 <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon">
                                <!-- <i class="icon_cone"></i> <h3>Car Repair</h3> -->
                                <i class="arrow_right"></i><h3>Первый контакт</h3>
                            </div> 
                            <p>При первом контакте с нами вы получите профессиональную консультацию от нашей команды. Мы выслушаем ваши потребности и цели, а также оценим состояние вашего автомобиля.</p>
							</div> 
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon">
                                <!-- <i class="icon_mug"></i><h3>Car Wash </h3> -->
                                <i class="arrow_right"></i><h3>Подбор пакета услуг</h3>
                            </div>
                            
                            <p>Мы предложим вам подходящий пакет услуг, учитывая ваши предпочтения, бюджет и состояние автомобиля. Мы поможем вам выбрать оптимальное сочетание услуг, чтобы достичь желаемых результатов.</p>
                        </div>
</div>
                        <!-- <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon">
                                <i class="icon_currency"></i><h3>Car Checkup</h3>
                                <i class="arrow_right"></i><h3>Подготовка авто</h3>
                            </div>
                            
                            <p>Наша команда проведет тщательную подготовку вашего автомобиля перед началом работы. Это включает очистку от грязи, пыли и других загрязнений, а также осмотр поверхностей на наличие повреждений.</p>
                        </div>
</div>
                      -->
                    <!-- </div> 
                    <div class="row"> -->
                     
                        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".1s">
						<div class="service-box">
                            <div class="icon">
                                <!-- <i class="icon_star-half_alt"></i><h3>Mobile Service</h3> -->
                                <i class="arrow_right"></i><h3>Выполнение услуг</h3>
                            </div>
                            
                            <p>На этом этапе наши опытные мастера приступают к выполнению выбранных услуг. Они используют передовые техники, специализированные инструменты и высококачественные материалы для достижения наилучших результатов.</p>
                        </div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".1s">
						<div class="service-box">
                            <div class="icon">
                                <!-- <i class="icon_music"></i><h3>Car Painting</h3> -->
                                <i class="arrow_right"></i><h3>Контроль качества</h3>
                            </div>
                            
                            <p>Мы придаем большое значение контролю качества каждой выполняемой услуги. Наши мастера тщательно проверяют и регулярно оценивают результаты, чтобы удостовериться, что работа выполнена на самом высоком уровне.</p>
                        </div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".1s">
						<div class="service-box">
                            <div class="icon">
                                <!-- <i class="icon_cog"></i><h3>Car Sales</h3> -->
                                <i class="icon_check"></i><h3>Сдача авто</h3>
                            </div>
                            
                            <p>По завершении работы, мы проведем финальную проверку автомобиля, чтобы убедиться в его безупречном внешнем виде. Затем мы предоставим вам результаты работы и ответим на все ваши вопросы.</p>
                        </div>
</div>
                    </div>
                </div> 

            </div>
        </div>
    </section> 
    <section id="portfolio" class="bgSection portfolio-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Картинки</span></h2>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Your description here...</p>
                </div>
            </div>
        </div>
    
        <div class="portfolio-works wow fadeIn" data-wow-duration="2s">
            <div class="portfolio-items">
                {% for item in portfolio_items %}
                <div class="item portfolio-item">
                    <img src="{{ item.image.url }}">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            <div class="portfolio-meta-btn">
                                <ul class="work-meta">
                                    <li class="lighbox"><a href="{{ item.image.url }}" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    

 
                





    <section id="pricing" class="pricing-section">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Цены</span></h2>
                   
                    <!-- <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Точная цена после оценки автомобиля</p> -->
                </div>
                <!-- Section Header End -->

                <div class="pricing-wrapper">

                    <!-- Plans -->
                    <!-- <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInLeft hoverer">
                        <div class="pricing-titles">
                            <h2>Шу</h2>
                            <p><span>$16/</span></p>
                        </div>
                        <div class="pricing-service-name">
                            <ul>
                                <li>Car Checkup</li>
                                <li>Responsive</li>
                                <li>3 Years Hosting</li>
                                <li>100 GB Data</li>
								 <li>Unlimited Bandwidth</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                         <div class="bg-btn">
                            <a href="#" class="signup-btn">Get Now</a>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInLeft hoverer">
                        <div class="pricing-titles">
                            <h2>Bronze</h2>
                            <p><span>$16/</span></p>
                        </div>
                        <div class="pricing-service-name">
                            <ul>
                                <li>Car Checkup</li>
                                <li>Responsive</li>
                                <li>3 Years Hosting</li>
                                <li>100 GB Data</li>
								 <li>Unlimited Bandwidth</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                         <div class="bg-btn">
                            <a href="#" class="signup-btn">Get Now</a>
                        </div>
                    </div> -->
                    <!-- Plans End -->

                    <!-- Plans -->
                    <!-- <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow fadeInUp hoverer" data-wow-duration="1s">
                        <div class="pricing-titles">
                            <h2>Gold</h2>
                            <p><span>$</span></p>
                        </div>
                        <div class="pricing-service-name">
                            <ul>
                                <li>Car Wash</li>
                                <li>Responsive</li>
                                <li>3 Years Hosting</li>
                                <li>100 GB Data</li>
								 <li>Unlimited Bandwidth</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                        <div class="bg-btn">
                            <a href="#" class="signup-btn">Get Now</a>
                        </div>
                    </div> -->
                    <!-- Plans End -->

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInRight hoverer">
                        <div class="pricing-titles">
                            <h2>Полировка автомобиля</h2>
                            <p><span>От 5000 до 10000</span></p>
                        </div>
                        <div class="pricing-service-name">
                             <ul>
                                <li>Керамика</li>
                                <li>Мягкая полировка</li>
                            
                            </ul>
                        </div>
                        <div class="bg-btn">
                            <a href="#" class="signup-btn">Get Now</a>
                        </div>

                        
                    </div>
                    <!-- Plans End -->
                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInRight hoverer">
                        <div class="pricing-titles">
                            <h2>Химчистка автомобиля</h2>
                            <p><span>От 8000 до 10000</span></p>
                        </div>
                        <div class="pricing-service-name">
                             <ul>
                                <li class='active'>Мойка</li>
                                <li class='active'>Химчистка мотора</li>
                            </ul>
                        </div>
                        <div class="bg-btn">
                            <a href="#contact" class="signup-btn">Get Now</a>
                        </div>

                        
                    </div>
                    <!-- <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInRight hoverer">
                        <div class="pricing-titles">
                            <h2>Platinum</h2>
                            <p><span>$99/</span></p>
                        </div>
                        <div class="pricing-service-name">
                             <ul>
                                <li>Car Repair</li>
                                <li>Responsive</li>
                                <li>3 Years Hosting</li>
                                <li>100 GB Data</li>
								 <li>Unlimited Bandwidth</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>
                        <div class="bg-btn">
                            <a href="#" class="signup-btn">Get Now</a>
                        </div>

                        
                    </div> -->
                    

                </div>
            </div>
        </div> 
    </section>
    <!-- Pricing End -->




<!-- <section id="team" class="bgSection teams-section"> 
<div class="parallax-overlay"></div>
        <div class="teams-wrapper wow bounceIn">
            <div class="container">
                <div class="row"> -->

                    <!-- Section Header -->
                    <!-- <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                        <h2><span class="highlight-text-inverted">Team</span></h2>
                       
                        <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque in minus distinctio dolores ipsam.</p>
                    </div> -->

                    <!-- teams Slider -->
                    <!-- <div id="teams" class="owl-carousel teams"> -->

                        <!-- Slides -->
                        <!-- <div class="teams-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                            <img src="{% static 'images/img-teams/team1.jpg' %}" alt="">
							<p class="client-info">Chris Willam</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisic</p>
                            
                        </div> -->
                        <!-- Slides End -->

                        <!-- Slides -->
                        <!-- <div class="teams-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                            <img src="{% static 'images/img-teams/team2.jpg' %}" alt="">
							<p class="client-info">Randy Dode</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisic</p>
                            
                        </div> -->
                        <!-- Slides End -->

                        <!-- Slides -->
                        <!-- <div class="teams-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                            <img src="{% static 'images/img-teams/team3.jpg' %}" alt="">
							 <p class="client-info">Michel Kimte</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisic</p>
                           
                        </div> -->
                        <!-- Slides End -->
<!-- 
                    </div> 
                </div>
            </div>
        </div>
    </section>  -->


    <section id="contact" class="section-wrapper contact-section" data-stellar-background-ratio="0.5">
        
    <div class="parallax-overlay"></div>
        <div class="container">
            <div class="row">

               <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown section-header-parallax">
                    <h2><span class="highlight-text">Контакты</span></h2>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Заполните форму ниже, чтобы связаться с нами. Мы свяжемся с вами в ближайшее время.</p>
                </div>
                <!-- Section Header End -->

                <div class="contact-details">

                    <!-- Contact Form -->
                    <div class="col-sm-offset-3 col-md-6 col-sm-6 col-xs-12 contact-form wow bounceInRight">
                        <!-- Форма для отправки данных -->
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            <div class="control-group">
                                <div class="controls">
                                    {{ form.full_name.label_tag }}
                                    {{ form.full_name }}
                                    {% if form.full_name.errors %}
                                        <p class="text-danger">{{ form.full_name.errors }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    {{ form.phone_number.label_tag }}
                                    {{ form.phone_number }}
                                    {% if form.phone_number.errors %}
                                        <p class="text-danger">{{ form.phone_number.errors }}</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div id="success"></div> <!-- For success/fail messages -->
                            <div class="text-center"><button type="submit" class="btn btn-primary">Отправить сообщение</button></div>
                        </form>
                    </div>
                </div>
 
            </div>
        </div>
        <style>        
            .contact-form {
                background-color: #f9f9f9;  /* Светлый фон для формы */
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 30px;
            }

            .control-group {
                margin-bottom: 15px; /* Расстояние между полями */
            }

            .controls label {
                font-weight: bold; /* Жирный шрифт для надписей */
                margin-bottom: 5px; /* Отступ под лейблом */
                display: block; /* Блочный элемент для надписи */
            }

            .controls input {
                width: 100%; /* Поля занимают всю ширину контейнера */
                padding: 10px; /* Внутренний отступ */
                border: 1px solid #ccc; /* Серый бордер */
                border-radius: 4px; /* Закругленные углы */
                box-sizing: border-box; /* Обработка внутренних отступов */
                font-size: 16px; /* Размер текста */
            }

            .btn-primary {
                background-color: #007bff; /* Синий фон кнопки */
                color: #fff; /* Белый текст */
                padding: 10px 20px; /* Внутренние отступы кнопки */
                border-radius: 5px; /* Закругленные углы кнопки */
                border: none; /* Без бордера */
                font-size: 16px; /* Размер текста */
                cursor: pointer; /* Указатель мыши при наведении */
                transition: background-color 0.3s ease; /* Анимация при наведении */
            }

            .btn-primary:hover {
                background-color: #0056b3; /* Темный цвет при наведении */
            }

            .text-danger {
                color: #d9534f; /* Красный цвет для сообщений об ошибках */
                margin-top: 5px; /* Отступ сверху для ошибки */
                font-size: 14px; /* Размер текста ошибки */
            }
        </style>
    </section>
<div id="googleMap" style="width:100%;height:380px;"></div>
    <!-- Contact Section End -->
    <section class="footer-container">
        <div class="container">
            <div class="row footer-containertent">
                <div class="col-md-4">
                    <img src="{% static 'images/favico.png' %}" alt="">
                    <p>AutoMall — это профессиональный авто-детейлинг с комплексным подходом к уходу за вашим автомобилем. Мы предлагаем высококачественные услуги, чтобы ваш автомобиль всегда выглядел наилучшим образом.</p>
                </div>
                <!-- <div class="col-md-4">
                    <h3>News & Updates</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque in minus distinctio dolores ipsam.</p>
                </div> -->
                <div class="col-md-4 contac-us">
                    <h3>Контакты</h3>
					<ul>
                            <li><i class="fa fa-home"></i>Алтымышева 109</li>
                            <li><i class="fa fa-phone"></i>+996(772)-700-700</li>
                            <li><i class="fa fa-envelope-o"></i>support@web.com</li>
                        </ul> 
                </div>
            </div>
        </div>
    </section>


    <footer>

        <div class="container">
            <div class="row">
                <div class="footer-containertent">

                    <ul class="footer-social-info">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
					<br/><br/>
<!-- <p>Copyright © 2018. <a href="https://webthemez.com/tag/free" target="_blank">Free Templates</a> by WebThemez</p> -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modernizr.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.easypiechart.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.sliderPro.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- <script src="{% static 'contact/jqBootstrapValidation.js' %}"></script>
	<script src="{% static 'contact/contact_me.js' %}"></script>
	<script
	src="{% static 'http://maps.googleapis.com/maps/api/js' %}">
	</script> -->

	<!-- <script>
	function initialize() {
	var mapProp = {
	center:new google.maps.LatLng(51.508742,-0.120850),
	zoom:5,
	mapTypeId:google.maps.MapTypeId.ROADMAP
	};
	var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
	}
	google.maps.event.addDomListener(window, 'load', initialize);
	</script> -->
    <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
